<a href="https://colab.research.google.com/github/meraldin/pacmann-datascience-bootcamp/blob/main/01_basic_python/Shafa_A_Meraldin_Mentoring_Week_4_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 - Python Programming
---

Mentoring Session - Job Preparation Program - Pacmann AI

# Task 1. Find a Double Promo User

Category: Medium

---

**Task Descriptions**
- Given lists of `user_id`, `promo_A_status`, `promo_B_status`
- Your task is to calculate how many user get a double promo (promo A and B)

Example
- `user_id = [3, 4, 5]`
- `promo_A_status = [0, 1, 1]`
  - This means, `user_id` 4 and 5 get promo A

- `promo_B_status = [1, 1, 0]`
  - This means, `user_id` 3 and 4 get promo B

- So, the `user_id` whose get double promo are 1 user, that is user 4

---
**Detail input & output**

There are three input:
- `user_id`, a list
- `promo_A_status`, a list
- `promo_B_status`, a list

There is a single output:
- `int`

---
**Input 1**

```python
user_id = [1, 2, 3, 4, 5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]
```

**Output - 1**
```
Number of user with double promo: 2
```

---
**Input 2**

```python
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]
```

**Output - 2**
```
Number of user with double promo: 0
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
#input 1
user_id = [1,2,3,4,5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]


def num_double_promo(user_id,promo_A_status,promo_B_status):
  double_promo = 0
  for user in range(len(user_id)):
    if promo_A_status[user] == 1 and promo_B_status[user] == 1 :
      double_promo += 1

  return double_promo

hasil = num_double_promo(user_id,promo_A_status,promo_B_status)
print(f'Number of user with double promo: {hasil}')

Number of user with double promo: 2

In [ ]:
#input 2
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]


hasil = num_double_promo(user_id,promo_A_status,promo_B_status)
print(f'Number of user with double promo: {hasil}')

# Task 2. Find a Double Promo User - Continued

Category: Medium

---

**Task Descriptions**
- Given lists of `user_id`, `promo_A_status`, `promo_B_status`
- Your task is to find which `user_id` get double promo (promo A and B)

Example
- `user_id = [3, 4, 5]`
- `promo_A_status = [0, 1, 1]`
  - This means, `user_id` 4 and 5 get promo A

- `promo_B_status = [1, 1, 0]`
  - This means, `user_id` 3 and 4 get promo B

- So, the `user_id` whose get double promo are `[4]`

---
**Detail input & output**

There are three input:
- `user_id`, a list
- `promo_A_status`, a list
- `promo_B_status`, a list

There is a single output:
- a list of `user_id` with double promo

---
**Input 1**

```python
user_id = [1, 2, 3, 4, 5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]
```

**Output - 1**
```
user_id with double promo: [3, 4]
```

---
**Input 2**

```python
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]
```

**Output - 2**
```
user_id with double promo: []
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
#input 1
user_id = [1, 2, 3, 4, 5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]


def id_double_promo(user_id,promo_A_status,promo_B_status):
  double_promo_list = []
  for user in range(len(user_id)):
    if promo_A_status[user] == 1 and promo_B_status[user] == 1 :
      double_promo_list.append(user_id[user])

  return double_promo_list

hasil = id_double_promo(user_id,promo_A_status,promo_B_status)
print(f'user_id with double promo: {hasil}')

user_id with double promo: [3, 4]

In [ ]:
#input 2
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]


def id_double_promo(user_id,promo_A_status,promo_B_status):
  double_promo_list = []
  for user in range(len(user_id)):
    if promo_A_status[user] == 1 and promo_B_status[user] == 1 :
      double_promo_list.append(user_id[user])

  return double_promo_list

hasil = id_double_promo(user_id,promo_A_status,promo_B_status)
print(f'user_id with double promo: {hasil}')

user_id with double promo: []

# Task 3. Calculate number of gender in a data

Category: Medium

---

**Task Descriptions**
- Given a list of gender, your task is to extract the number people in each gender and return it as a dictionary.

Example
- `a = ['male', 'female', 'male', 'female', 'female']`
- So there are 2 males & 3 females
- Thus our output would be `{'male': 2, 'female': 3}`

---
**Detail input & output**

- input: `a`, list of gender
- output: `dict`

---
**Input - 1**

```python
a = ['male', 'female', 'female', 'male']
```

**Output**
```python
{'male': 2, 'female': 2}
```

---
**Input - 2**

```python
a = ['female', 'female', 'female', 'female']
```

**Output**
```python
{'male': 0, 'female': 4}
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
#input 1
gender_list = ['male', 'female', 'female', 'male']
gender_dict = {}
#loop for checking gender_dict
for gender_value in gender_list:
  #menghitung +1 value di key female or male sesuai element yang terbaca
  gender_dict[gender_value] += 1

#print isi dictionary gender
print(gender_dict)

In [ ]:
#input 2
gender_list = ['female', 'female', 'female', 'female']
#mendeklarasikan bahwa male dan female dimulai dari 0
gender_dict = {'male': 0, 'female' : 0}
#loop for checking gender_dict
for gender_value in gender_list:
  #menghitung +1 value di key female or male sesuai element yang terbaca
  gender_dict[gender_value] += 1

#print dictionary gender
print(gender_dict)

{'male': 0, 'female': 4}

# Task 4. Fibonacci Prime

Category: Medium

---

## Task Descriptions
---
- Create a function to find the first `n` Fibonacci Prime Number.

**Fibonacci number**
- Fibonacci number is a number that follows this sequence

$$
n_{i} = n_{i-1} + n_{i-2}
$$

- with $n_{1}=1$ and $n_{2}=1$
- So, the first 10 Fibonacci number is

$$
1, 1, 2, 3, 5, 8, 13, 21, 34, 55
$$

**Prime number**
- A prime number is a number which only have 2 divisors, that is $1$ and the number itself.
- Example
  - $2$ is a prime number. Divisors of $2$ are $1$ and $2$
  - $10$ is **not** a prime number. Divisors of $10$ are $1$, $2$, $5$, and $10$.
  - $13$ is a prime number. Divisors of $13$ are $1$ and $13$

## Detail function
---

- Create a function named `fibonacci_prime` with
  - Input `n` (integer)
  - Output `numbers` (list), contains the first `n` Fibonacci prime number

## Examples
---

**Input 1**

```python
# Input
res = fibonacci_prime(n = 5)
print(res)
```

**Output 1**
```python
[2, 3, 5, 13, 89]
```

**Input 2**

```python
# Input
res = fibonacci_prime(n = 10)
print(res)
```

**Output 2**
```python
[2, 3, 5, 13, 89, 233, 1597, 28657, 514229, 433494437]
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
#fungsi untuk mengecek apakah bilangan prima atau bukan
def is_prime(num):
  '''
  Apakah num bilangan prima?
  Parameter
  --------
  Num : int
    angka yang ingin diperiksa

  Return
  --------
  Prime : boolean
    ture jika num adalah prima
    false jika num bukan prima

  '''
  prime = True
  #bilangan prima tidak kurang dari 2
  if num < 2:
    prime = False
  #bilangan prima tidak genap kecuali 2
  elif (num % 2 == 0) and (num !=2):
    prime = False

  else :
    #bilangan prima tidak punya faktor selain 1 dan dirinya sendiri
    #mempercepat pengecekan bilangan prima tanpa harus memeriksa semua angka dengan pembagi_max
    pembagi_max = int(num**0.5) + 1

    #Cukup periksa angka dari 2 sampai akar kuadrat dari numb (ditambah 1 supaya aman)
    for pembagi in range(3, pembagi_max, 2):
      #jika ada pembagi yang habis membagi num, maka num bukan prima
      if (num % pembagi == 0) :
        prime = False
        break
  return prime

#fungsi untuk generate bilangan fibonacci yang prima
def fibonacci_prime(n):
    '''
    Generate n bilangan fibonacci prima pertama
    Asumsi n1 =1 , n2= 1
    Parameter
    ---------
    n : int
      jumlah deret fibonacci prima pertama yang dicari

    Return
    ---------
    fibo_prime : list
      n deret fibonacci prima pertama
    '''

    #buat list fibo dan fibo primai
    fibo = [1,1]
    fibo_prime = []

    #looping while fibo_prime < n sampai memenuhi jumlah n yang dicari
    while len(fibo_prime) < n:
      #cari bilangan fibo selanjutnya
      next_fibo = fibo[-1] + fibo[-2]
      #fibo[-1] Mengambil bilangan Fibonacci terakhir di list (angka terbaru)
      #fibo[-2] Mengambil bilangan Fibonacci kedua terakhir di list (angka sebelumnya)

      #cek apakah next_fibo prima
      isprime = is_prime(num = next_fibo)
      if is_prime(next_fibo):
        #kalo prima, masukkan dalam list fibo_prime
        fibo_prime.append(next_fibo)

      #update deret fibonacci
      fibo.append(next_fibo)
    return fibo_prime

#input 1
print(fibonacci_prime(5))
#input 2
print(fibonacci_prime(10))

[2, 3, 5, 13, 89]
[2, 3, 5, 13, 89, 233, 1597, 28657, 514229, 433494437]

# Task 5. Accuracy Metrics in Classifications

Category: Medium

---

## Task Descriptions
---
- Create a **lambda** function to calculate the accuracy of given prediction

**Accuracy**
- You can use accuracy metrics to measure classification model performance.
- Given a below data

<center>

|Real Value|Predicted Value|Status|
|:--:|:--:|:--:|
|1|0|**False** prediction|
|1|1|Correct prediction|
|0|0|Correct prediction|
|0|1|**False** prediction|
|1|1|Correct prediction|
|1|1|Correct prediction|
|0|0|Correct prediction|
|1|1|Correct prediction|

</center>

- If you predict `0` and the real value is `0`, you predict correctly
- If you predict `1` and the real value is `1`, you predict correctly
- If you predict `0` while the real value is `1`, you mispredict it.
- If you predict `1` while the real value is `0`, you also mispredict it.

- How to calculate accuracy?

$$
\text{accuracy}
=
\cfrac
{\text{number of correct}}
{\text{number of all data}}
$$

- So, based on the above table

$$
\begin{align*}
\text{accuracy}
&=
\cfrac
{\text{number of correct prediction}}
{\text{number of all data}} \\
&=
\cfrac
{6}
{8} \\
\text{accuracy}
&=
0.75
\end{align*}
$$

## Detail function
---

- Create a **lambda** function named `calculate_accuracy` with
  - Input
    - `y_actual` (list), contains the true value
    - `y_predicted` (list), contains the predicted value
  - Output `accuracy` (float), contains the accuracy metrics

## Examples
---

**Input 1**

```python
# Input
y_actual = [1, 1, 0, 0, 1, 1, 0, 1]
y_predicted = [0, 1, 0, 1, 1, 1, 0, 1]

res = calculate_accuracy(y_actual, y_predicted)
print(res)
```

**Output 1**
```python
0.75
```

**Input 2**

```python
# Input
y_actual = [1, 1, -1, -1, 1, 1, -1, 1, -1, -1]
y_predicted = [-1, 1, -1, -1, -1, 1, -1, 1, -1, 1]

res = calculate_accuracy(y_actual, y_predicted)
print(res)
```

**Output 2**
```python
0.7
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
calculate_accuracy = lambda y_actual, y_predicted: sum([1 if act==pred else 0 for act, pred in zip(y_actual, y_predicted)]) / len(y_actual)

#zip untuk menggabungkan list actual dan list predicted
#if nilai act = nilai pred maka diberi skor 1
#if nilai act != nilai pred maka diberi skor 0
#semua skor dijumlahkan pakai rumus sum lalu dibagi len (jumlah benar/jumlah keseluruhan data)

In [ ]:
#input 1
y_actual = [1, 1, 0, 0, 1, 1, 0, 1]
y_predicted = [0, 1, 0, 1, 1, 1, 0, 1]
res = calculate_accuracy(y_actual, y_predicted)
print(res)

0.75

In [ ]:
# Input 2
y_actual = [1, 1, -1, -1, 1, 1, -1, 1, -1, -1]
y_predicted = [-1, 1, -1, -1, -1, 1, -1, 1, -1, 1]

res = calculate_accuracy(y_actual, y_predicted)
print(res)

0.7

# Task 6. Get the user churn

Category: Medium

---

## Task Descriptions
---
- Given a userID and its subscription status, create a function to determine the number of churned (unsubscribed user) on a specific month

**How this works**
- Given a set of userID and subscription status

```python
# [userId, subscribe until...]
user_data_2019 = [
    ['123db', 'November'],
    ['940cj', 'January'],
    ['859do', 'March'],
    ['948wp', 'August'],
    ['482po', 'August'],
    ['742bh', 'November']
]
```

- Say, we want to see the number of user churned (unsubscribed) on **March**
  - Only user `940cj` that does not have subscription renewal until **March**
  - So, the number of churned user is 1

- Say, we want to see the number of user churned (unsubscribed) on **August**,
  - Users `['940cj', '859do']` subscribtions end before august.
  - Thus, the number of churned user is 2

## Detail function
---

- Create a function named `calculate_churned` with
  - Input
    - `user_data` (list), contains the userId and subscribe until ...
    - `month` (str), in english, contains month to determine the churned user
  - Output `churned` (int), contains the number of churned user before `month`

## Examples
---

user_data = [['123', 'March'], ['124', 'Februari'], ['125', 'January']]

**Input 1**

```python
# Input
user_data_2021 = [
    ['5105', 'August'],
    ['8806', 'August'],
    ['1008', 'December'],
    ['2655', 'October'],
    ['5645', 'January'],
    ['3660', 'February'],
    ['1655', 'July'],
    ['5772', 'January'],
    ['4361', 'January'],
    ['9155', 'March'],
    ['7689', 'April'],
    ['6967', 'December'],
    ['6358', 'June'],
    ['2075', 'September'],
    ['9280', 'March'],
    ['2815', 'December'],
    ['7743', 'August'],
    ['1087', 'February'],
    ['9691', 'October'],
    ['3397', 'June']
]

res = calculate_churned(user_data = user_data_2021,
                        month = 'October')
print(res)
```

**Output 1**
```python
15
```

**Input 1**

```python
# Input
user_data_2022 = [
    ['2062', 'February'],
    ['5679', 'October'],
    ['4690', 'September'],
    ['8748', 'March'],
    ['8318', 'December'],
    ['7814', 'February'],
    ['9850', 'November'],
    ['2154', 'September'],
    ['7767', 'October'],
    ['3755', 'January'],
    ['3117', 'March'],
    ['4197', 'December'],
    ['7276', 'December'],
    ['3387', 'May'],
    ['2160', 'November'],
    ['9626', 'October'],
    ['5430', 'July'],
    ['7055', 'January'],
    ['7838', 'July'],
    ['8991', 'May'],
    ['6238', 'September'],
    ['8033', 'October'],
    ['8711', 'January'],
    ['9999', 'December'],
    ['9980', 'May'],
    ['8282', 'September'],
    ['1508', 'March'],
    ['9899', 'January'],
    ['4745', 'October'],
    ['9615', 'August'],
    ['8526', 'July'],
    ['8736', 'January'],
    ['6244', 'December'],
    ['8319', 'August'],
    ['1415', 'April'],
    ['3413', 'March'],
    ['1683', 'January'],
    ['8825', 'November'],
    ['6098', 'August'],
    ['2627', 'February']
]

res = calculate_churned(user_data = user_data_2022,
                        month = 'August')
print(res)
```

**Output 1**
```python
20
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
#variabel untuk compare bulan ke index
month_to_index = {
    'January' : 1,
    'February' : 2,
    'March' : 3,
    'April' : 4,
    'May' : 5,
    'June' : 6,
    'July' : 7,
    'August' : 8,
    'September' : 9,
    'October' : 10,
    'November' : 11,
    'December' : 12
}

#Fungsi untuk menghitung churn
def calculate_churned(user_data, month) :
  '''
  hitung jumlah user yang churn sebelum bulan "month"
  Parameter
  --------
  user_data : list
    daftar user id dan bulan terakhir subs aktif

  month : str
    nama bulan terakhir status subs

  retruns
  -------
  n_churn : int
    jumlah user dari user_data yang churn sebelum bulan "month"
  '''
  #membandingkan bulan dengan index
  index_reference = month_to_index[month]

  #variabel jumlah churn user
  n_churn = 0

  #looping untuk tiap user
  for user, last_month in user_data:
    #konversi bulan terakhir ke dalam index
    last_index = month_to_index[last_month]

    #jika last index < index reference, maka user churn dihitung
    if last_index < index_reference:
        n_churn += 1

  return n_churn

#input 1
user_data_2021 = [
    ['5105', 'August'],
    ['8806', 'August'],
    ['1008', 'December'],
    ['2655', 'October'],
    ['5645', 'January'],
    ['3660', 'February'],
    ['1655', 'July'],
    ['5772', 'January'],
    ['4361', 'January'],
    ['9155', 'March'],
    ['7689', 'April'],
    ['6967', 'December'],
    ['6358', 'June'],
    ['2075', 'September'],
    ['9280', 'March'],
    ['2815', 'December'],
    ['7743', 'August'],
    ['1087', 'February'],
    ['9691', 'October'],
    ['3397', 'June']
]

print(calculate_churned(user_data = user_data_2021, month = 'October'))

#input 2
# Input
user_data_2022 = [
    ['2062', 'February'],
    ['5679', 'October'],
    ['4690', 'September'],
    ['8748', 'March'],
    ['8318', 'December'],
    ['7814', 'February'],
    ['9850', 'November'],
    ['2154', 'September'],
    ['7767', 'October'],
    ['3755', 'January'],
    ['3117', 'March'],
    ['4197', 'December'],
    ['7276', 'December'],
    ['3387', 'May'],
    ['2160', 'November'],
    ['9626', 'October'],
    ['5430', 'July'],
    ['7055', 'January'],
    ['7838', 'July'],
    ['8991', 'May'],
    ['6238', 'September'],
    ['8033', 'October'],
    ['8711', 'January'],
    ['9999', 'December'],
    ['9980', 'May'],
    ['8282', 'September'],
    ['1508', 'March'],
    ['9899', 'January'],
    ['4745', 'October'],
    ['9615', 'August'],
    ['8526', 'July'],
    ['8736', 'January'],
    ['6244', 'December'],
    ['8319', 'August'],
    ['1415', 'April'],
    ['3413', 'March'],
    ['1683', 'January'],
    ['8825', 'November'],
    ['6098', 'August'],
    ['2627', 'February']
]

print(calculate_churned(user_data = user_data_2022, month = 'August'))

15
20

# Task 7. Count Alphabet

**Task Descriptions**

- Given an `input_text`
- Your tasks are to calculate how many characters that upper case, lower case, and numeric inside the `input_text`
- You must also count how many characters in the input
- But there are some requirements in this task, your `input_text` must be in the correct format like there must be a whitespace inside the string.
- If the requirements are not met, it will print a message **`"Not a Valid Text"`**

**Input - 1**

```py
count_alphabet("Komm, süsser Tod")
```

**Output - 1**

```py
Total Character: 13
Count Upper Case: 2, Count Lower Case: 11, Count Digit: 0
```

**Input - 2**

```py
count_alphabet("Kode Pos dari Pasar Minggu adalah 12560")
```

**Output - 2**

```py
Total Character: 33
Count Upper Case: 4, Count Lower Case: 24, Count Digit: 5
```

**Input - 3**

```py
count_alphabet("BesokKitaPergiMakan")
```

**Output - 3**

```py
Not a Valid Text
```

In [ ]:
def count_alphabet(input_text):
    #cek apakah ada whitespace
    if " " not in input_text:
      print("Not a Valid Text")
      return

    #buat counter
    upper_count = 0
    lower_count = 0
    digit_count = 0
    char_count = 0

    #looping untuk analisis input_text
    for char in input_text:
      if char.isalpha() or char.isdigit(): #menghitung total character (non alphabet dan non digit tidak dihitung)
        char_count += 1
        if char.isupper(): #menghitung character uppercase
          upper_count += 1
        elif char.islower(): #menghitung character lowercase
          lower_count += 1
        elif char.isdigit(): #menghitung character digit
          digit_count += 1

    print(f'Total characters : {char_count}')
    print(f'Count Upper Case : {upper_count}, Count Lower Case : {lower_count}, Count Digit : {digit_count}')

#Input 1
count_alphabet("Komm, süsser Tod")

#Input 2
count_alphabet("Kode Pos dari Pasar Minggu adalah 12560")

#Input 3
count_alphabet("BesokKitaPergiMakan")

Total characters : 13
Count Upper Case : 2, Count Lower Case : 11, Count Digit : 0
Total characters : 33
Count Upper Case : 4, Count Lower Case : 24, Count Digit : 5
Not a Valid Text

In [ ]:
count_alphabet("Makidi 14045")

Total characters : 11
Count Upper Case : 1, Count Lower Case : 5, Count Digit : 5